/*
main colors

bg color : #92baea
btn color: #0087cc

*/

.fms-header {
    height: 100px;
    background-color: #0087cc;
}


.fms-link {
    float: right;
    font-size: 18px;
    padding: 20px;
    color: darkblue;
}

.fms-container {
    padding: 20px;
}


