html, body {
    min-height: 100%;
}

body, div, form, input, select, textarea, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    color: #666 !important;
    line-height: 22px;
}

.fms-message-card {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #92baea;
}

.fms-card-header,
.fms-card-container {
    margin-bottom: 20px;
}

.fms-card-title {
    font-weight: bold;
    font-size: 24px;
}

.fms-card-date {
    float: right;
    font-style: oblique;
}

.fms-card-footer {
    text-align: right;
}

.fms-btn {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.fms-btn-del {
    background-color: red;
}

.fms-card-email {
    display: block;
    font-style: italic;
    font-size: 16px;
}

.fms-message-card-page {
    width: 70%;
    margin: 10px auto;
    display: flex;
}

.fms-message-card-page-block1,
.fms-message-card-page-block2 {
    flex: 1;
}

.fms-message-card-page-block2 {
    border-left: 2px solid #ccc;
    padding-left: 20px;
}

.fms-table-title {
    font-weight: bold;
    text-align: left;
    font-size: 22px;
}

.fms-table-val {
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
}

.fms-message-page {
    word-break: break-word;
    margin-top: 20px;
}