body, div, form, input, textarea, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666 !important;
    line-height: 22px;
}

.fms-container {
    width: 50%;
    margin: auto;
}

.fms-container h1 {
    position: absolute;
    margin: 0;
    line-height: 42px;
    font-size: 42px;
    color: #fff;
    z-index: 2;
}

.fms-container .fms-testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

.fms-testbox form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #92baea;
}

.fms-testbox .banner {
    position: relative;
    height: 300px;
    background-image: url("../img/feedback.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fms-testbox .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

.fms-testbox input,
.fms-testbox textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.fms-testbox input {
    width: calc(100% - 10px);
    padding: 5px;
}

.fms-testbox textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.fms-testbox .item input:hover,
.fms-testbox .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #92baea;
    color: #d6e0f5;
}

.fms-testbox .item {
    position: relative;
    margin: 10px 0;
}

.fms-testbox .btn-item {
    margin-top: 10px;
    text-align: center;
}

.fms-testbox .btn-item button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.fms-testbox .btn-item button:hover {
    background: #6eb8dd;
}

.fms-link {
    float: right;
    font-size: 18px;
    padding: 20px;
    color: darkblue;
}

.fms-required-message {
    color: crimson;
    display: none;
}

/* alert messages */
.alert {
    padding: 20px;
    margin: 20px 0;
    color: white !important;
}

.alert-danger {
    background-color: #f44336;
}

.alert-success {
    background-color: #4CAF50;
}
